<!DOCTYPE html>
{% extends 'medrec/base.html' %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    <div class="mx-auto mt-5 pt-3" style="max-width: 50rem;">
        <div class="card-header">
            Coder Login
        </div>
        <div class="card-body">
          <h5 class="card-title">Please Login</h5>
          <p class="card-text">With the right Credential.
            <form action="" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
          </p>
          <p>Or</p>
        </div>
        <div class="card-footer text-muted">
            <p class="text-center">Click here to, <a class="btn btn-primary" href="{% url 'coderreg' %}">Register</a></p>
        </div>
    </div>

{% endblock content %}
    
</body>
</html>