<!DOCTYPE html>
{% extends 'medrec/base.html' %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital of Champions</title>
</head>

<body>
    {% block content %}
    <div>
        <div class="card text-center">
            <div class="card-header">
              <h2>Care of, And By Champions</h2>
            </div>
            <div class="card-body">
                <br>
    
              <h4 class="card-title">Staff Registration</h4>
              <br>
              <a href="{% url 'docreg' %}" class="btn btn-primary">Doctor Registration</a>
              <a href="{% url 'coderreg' %}" class="btn btn-primary">Coder Registration</a>
            </div>
            <div class="card-footer text-muted">
              <br>
              <br>
              <h3 style="color:skyblue;">Or Login Below</h3>
              <br>
              <br>
            </div>
          </div>
          <div class="card text-center">  
            <div class="card-body">
              <h2 class="card-title">Staff Login</h2>
              <br>
              <a href="{% url 'doclogin' %}" class="btn btn-primary">Doctor Login</a>
              <a href="{% url 'coderlogin' %}" class="btn btn-primary">Coder Login </a>
              
            </div>
            <br>
            <div class="card-footer text-muted">
              <br>
              <h5>Copyright &copy; 2022| All Rights Reserved</h5>
            
          </div>

    
    {% endblock content %}
</body>
</html>