<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.css' rel="stylesheet">
</head>
<body>
    
    
    <!-- <input type="text" id="icd10" placeholder="Code or name"> -->

    <form action="">
        <label for="icd10">ICD10</label>
        <input type="text" name="" id="icd10">
    </form>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
         new Def.Autocompleter.Search('icd10', 'https://clinicaltables.nlm.nih.gov/api/icd10cm/v3/search?sf=code,name',
        {colHeaders: ['Code', 'Name']});

        /*
                        On submiting the form, send the POST ajax
                        request to server and after successfull submission
                        display the object.
                    */
                    $("#code-form").submit(function (e) {
                        // preventing from page reload and default actions
                        e.preventDefault();
                        // serialize the data for sending the form data.
                        var serializedData = $(this).serialize();
                        // make POST ajax call
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'post_code' %}",
                            data: serializedData,
                            success: function (response) {
                                // on successfull creating object
                                // 1. clear the form.
                                $("#code-form").trigger('reset');
                                // 2. The diagnosis code
                                $("#id_diagnosis").focus();
                
                                
                                var instance = JSON.parse(response["instance"]);
                                var fields = instance[0]["fields"];
                                $("#the_icd_codes tbody").prepend(
                                    `<tr>
                                    <td>${fields["diagnosis"]||""}</td>
                                    </tr>`
                                )
                            },
                            error: function (response) {
                                // alert the error if any error occured
                                alert(response["responseJSON"]["error"]);
                            }
                        })
                    })

       


    </script>
</body>
</html>

// Source Code from Website, may work in saving the auto complete
                    // new Def.Autocompleter.Search('icd10', 'https://clinicaltables.nlm.nih.gov/api/icd10cm/v3/search?sf=code,name',
                    // {colHeaders: ['Code', 'Name']});

                    // <!-- <input type="text" id="icd10" placeholder="Code or name"> -->

                    // codeFocus = new Def.Autocompleter.Search('icd10', 'https://clinicaltables.nlm.nih.gov/api/icd10cm/v3/search?sf=code,name',{colHeaders: ['Code', 'Name']});

                    // $("#id_diagnosis").focus();


                    Work 
