<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
</head>
<body>

    <!-- Have a page to register patients here, and then you can retrieve the file through backend -->
    <!-- Also make it where you can click patient -->
    <!-- Search by patient ID -->
    
    <form action="">
        <label for="pat_search">Patient Search: </label>
        <input type="text" name="product" id="pat_search">
    </form>


    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script>
  $( function() {
    
    $( "#pat_search" ).autocomplete({
    
         source: "{% url 'patsearch' %}"
    });
  } );
  </script>
</body>
</html>